<div class="container">
    <div class="row">
        <div class="col-md-6" offset-md-3>
            <br>
            <br>
            <u><h2 >Preview Details for final update</h2></u>
            <br>
            <form >
                <div class="form-group">
                    <b><label for="">Name</label></b>  {{this.data.name}}
                </div>
                <div class="form-group">
                    <b><label for="">Gender</label></b> {{this.data.gender}}
                </div>
                <div class="form-group">
                    <b><label for="">E-Mail</label></b>  {{this.data.email}}
                </div> 
                <div class="form-group">
                    <b><label for="">Mobile Number</label></b>  {{this.data.mobile}}
                </div> 
                <div class="form-group">
                    <b><label for="">Category</label></b>   {{this.data.category}}
                </div> 
                <div class="form-group">
                    <b><label for="">File</label></b>   {{this.data.file}}
                </div>
                <div class="form-group">
                    <b><label for="">CheckBoxes</label></b>   {{this.data.myCheckboxGroup}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" (click)=onSubmit() >Confirm</button>
                    <button type="reset" class="btn btn-danger"  style="margin-left: 10px;" (click)=onCancel()> Cancel, and Return back</button>
                </div>
            </form>
        </div>
    </div>
</div>
